<!-- <h1>Covid-19 Bangladesh</h1>
<hr style="margin-bottom: 40px;">

<img src="bangladesh.png"
    style="width:400px; float: right; margin: 0 40px 40px 40px;"></img> -->



    
<html>
<head>
  <title>Netflix Analysis Using Python</title>
  <style>
    .container {
      display: flex;
    }
    .left-side {
      flex: 20%;
      padding: 20px;
      background-color: #f0f0f0;
       color: black;
    }
    .right-side {
      flex: 20%;
      padding: 20px;
      background-color: #f9f9f9;
    }
    .image {
      max-width: 100%;
      height: auto;
    }
  </style>
</head>
<body>

<div class="container">
  <div class="left-side">
    <h2>Netflix Analysis Using Python</h2>
    <p>Netflix is a leading global streaming service that offers a wide variety of TV shows, movies, documentaries, and other entertainment content across a broad range of genres and languages. It was founded in 1997 by Reed Hastings and Marc Randolph in Scotts Valley, California.
</p>
  </div>

  <div class="right-side">
    <img src="netflix.jpg" alt="Image" class="image">
  </div>
</div>

</body>
</html>

In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt 
df = pd.read_csv(r"C:\Users\Rajib\Desktop\Practice excersice\Data analysts python projects\Netflix\data.csv")

ModuleNotFoundError: No module named 'pandas'

In [ ]:
df

In [ ]:
df.head()

In [ ]:
df.dtypes    #show the data types

In [ ]:
df.info()  #show total dataset info

#remove the duplicates

In [ ]:
df[df.duplicated()]

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df[df.duplicated()]  #check duplicates are remove or not

In [ ]:
df.shape #its perfect

# Find the blank or null value

In [ ]:
df.isnull().sum()

In [ ]:

with pd.option_context('display.max_columns',None,'display.max_row',None):
 print(df[df['Director'].isnull()])

In [ ]:
sns.heatmap(df.isnull())  #see nul in each column

In [ ]:
df.head()

# Search to find something in Dataset

In [ ]:
#df[df['Director']=='Shane Acker']  #process 1

df[df['Country'].isin(['Brazil'])] #process 2

# df[df['Country'].str.contains('Brazil')]

In [ ]:
pd.set_option('display.max_rows', None)  # Set to None for unlimited rows
pd.set_option('display.max_columns', None) 

result = df[(df['Country']=='Brazil')&(df['Category']=='TV Show')]

print(result)

#Type conversion for a column

In [ ]:
df.dtypes

In [ ]:
df['Date_N'] = pd.to_datetime(df['Release_Date'])

In [ ]:

df.dtypes

In [ ]:
df['Date'].dt.year.value_counts()

#using year create a bar chart

In [ ]:
df['Date'].dt.year.value_counts().plot(kind='bar')

In [ ]:
df.head(2)

In [ ]:
#Group By

df.groupby('Category').Category.count()

In [ ]:
# sns.countplot(df['Category'])

# category_counts = df.groupby('Category').size()

# # Create a count plot
# plt.figure(figsize=(10, 6))  # Adjust the figure size if needed
# sns.countplot(x='Category', data=df, order=category_counts.index)
category_counts = df.groupby('Category').size()
print(category_counts)

sns.countplot(x = 'Category',data=df,order=category_counts.index)

#Trim the year

In [ ]:
df['Year'] = df['Date_N'].dt.year
df

In [ ]:

pd.to_datetime(df['Year'])

In [ ]:
df.head(2)

In [ ]:
df['Year'] = pd.to_datetime(df['Year'],format='%Y')

# Filtering Process

In [ ]:
#show the movie which are relese by year 2000.
df[(df['Category']=='Movie')&(df['Year']==2000)] #there are no movie in 2000 so its show null

In [ ]:
df[(df['Category']=='TV Show')&(df['Year']==2020)]

In [ ]:
#show the #only title which category is movie and country is india
df[(df['Category']=='TV Show')&(df['Country']=='India')]['Title']  #see our question want only title

In [ ]:
#find the Tom Cruise movie
df[df['Cast']=='Tom Cruise']

df[df['Cast'].str.contains('Tom Cruise')]

In [ ]:
df1 = df.dropna()

In [ ]:
df1[df1['Cast'].str.contains('Tom Cruise')]

In [ ]:
df1.shape

In [ ]:
df.head(5)

In [ ]:
# df = df.drop('Year',axis=1)
df.head(2)

In [ ]:
df['Year'] = pd.to_datetime(df['Date_N']).dt.year.astype(int)

In [ ]:
df.head(2)

In [ ]:
df.dtypes

In [35]:
df['Year'] = pd.to_datetime(df['Year'], format='%Y')

In [36]:
df.head(2)

,Show_Id,Category,Title,Director,Cast,Country,Release_Date,Rating,Duration,Type,Description,Date_N,Year
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,14-Aug-20,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,2020-08-14,2020-01-01
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,23-Dec-16,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,2016-12-23,2016-01-01

# Data Visualization

In [ ]:
df.plot(x='Country', y='Year', kind='bar')
plt.xlabel('')
plt.ylabel('Year')
plt.title('Bar Chart')
plt.show()